In [33]:
import pandas as pd

# Load Datasets

In [88]:
name_total = pd.read_csv("/Users/Kit/Documents/WeCloudData/i-Future/professor project/name match/wiki name by country/names by country (from wiki)_ke xing.csv")
surname = pd.read_csv("/Users/Kit/Documents/WeCloudData/i-Future/professor project/name match/chinese surname/namelist.csv")

In [89]:
name_total.head(5)

   Unnamed: 0 country first_name       full_name last_name
0           0   China     Shufan     Chen Shufan      Chen
1           1   China  Changshun  Wang Changshun      Wang
2           2   China     Yin-mo     Shen Yin-mo      Shen
3           3   China      Buwen      Wang Buwen      Wang
4           4   China      Duxiu      Chen Duxiu      Chen

In [90]:
surname.head(5)

   Unnamed: 0 surname
0           0      An
1           1     Ang
2           2     Ang
3           3      Ao
4           4      Au

In [91]:
surname_list = surname["surname"].tolist()

# Check if last_name in the surname list

In [93]:
for i in range(0,len(name_total)):
    name_total["boolean"] = name_total["last_name"].isin(surname_list)

In [106]:
name_total.head(10)

   Unnamed: 0 country first_name       full_name last_name boolean
0           0   China     Shufan     Chen Shufan      Chen    True
1           1   China  Changshun  Wang Changshun      Wang    True
2           2   China     Yin-mo     Shen Yin-mo      Shen    True
3           3   China      Buwen      Wang Buwen      Wang    True
4           4   China      Duxiu      Chen Duxiu      Chen    True
5           5   China         Wu         Chen Wu      Chen    True
6           6   China      Xueqi     Cheng Xueqi     Cheng    True
7           7   China         Bo          Chu Bo       Chu    True
8           8   China    Jiaxian    Deng Jiaxian      Deng    True
9           9   China      Shiru      Deng Shiru      Deng    True

In [148]:
df_1 = name_total[(name_total["country"] == "China") & (name_total["boolean"] == False)]
df_1.head()

    Unnamed: 0 country first_name        full_name last_name boolean
16          16   China     Liming  Liu-Wang Liming  Liu-Wang   False
40          40   China        Hui          Ann Hui       Ann   False
48          48   China   Zhengcao      Lü Zhengcao        Lü   False
88          88   China  Sung-hoon   Park Sung-hoon      Park   False
92          92   China        Fei          Yue Fei       Yue   False

In [149]:
df_2 = name_total[(name_total["country"] != "China") & (name_total["boolean"] == True)]
df_2.head()

      Unnamed: 0  country first_name      full_name last_name boolean
4010        4010  America     Alveda    Alveda King      King    True
4011        4011  America     Reggie    Reggie King      King    True
4012        4012  America       Troy      Troy King      King    True
4020        4020  America     Harper     Harper Lee       Lee    True
4027        4027  America   Theodore  Theodore Long      Long    True

In [154]:
AC = len(name_total[name_total["country"] == "China"])
ANC = len(name_total[name_total["country"] != "China"])

In [155]:
PNC_AC = len(df_1)
PC_ANC = len(df_2)

In [156]:
PNC_ANC = ANC-len(df_2)
PC_AC = AC-len(df_1)

# Confusion Matrix

In [169]:
confusion_matrix = {"Predicted China":[PC_AC,PC_ANC],
                    "Predicted Not-China":[PNC_AC,PNC_ANC]}
confusion_matrix = pd.DataFrame(confusion_matrix)
confusion_matrix.index = ["Actual China", "Actual Not China"]
confusion_matrix.head()

                  Predicted China  Predicted Not-China
Actual China                 3325                  439
Actual Not China              581                29312

# Accuracy

In [171]:
accuracy = 1-((len(df_1) + len (df_2))/len(name_total))
print(accuracy)

0.969694268651395

# check both first name and last name

In [173]:
for i in range(0,len(name_total)):
    name_total["first_boolean"] = name_total["first_name"].isin(surname_list)

In [174]:
name_total.head()

,Unnamed: 0,country,first_name,full_name,last_name,boolean,first_boolean
0,0,China,Shufan,Chen Shufan,Chen,True,False
1,1,China,Changshun,Wang Changshun,Wang,True,False
2,2,China,Yin-mo,Shen Yin-mo,Shen,True,False
3,3,China,Buwen,Wang Buwen,Wang,True,False
4,4,China,Duxiu,Chen Duxiu,Chen,True,False

In [179]:
df_11 = name_total[(name_total["country"] == "China") & (name_total["boolean"] == False)]
df_11 = df_11[df_11["first_boolean"] == False]
df_11.head()

,Unnamed: 0,country,first_name,full_name,last_name,boolean,first_boolean
16,16,China,Liming,Liu-Wang Liming,Liu-Wang,False,False
48,48,China,Zhengcao,Lü Zhengcao,Lü,False,False
88,88,China,Sung-hoon,Park Sung-hoon,Park,False,False
142,142,China,Girl,Xidan Girl,Xidan,False,False
147,147,China,Yanpeng,Zhai Yanpeng,Zhai,False,False

In [180]:
df_22 = name_total[(name_total["country"] != "China") & (name_total["boolean"] == True)]
df_22 = df_22[df_22["first_boolean"] == True]
df_22.head()

,Unnamed: 0,country,first_name,full_name,last_name,boolean,first_boolean
6393,6393,America,Wah,Wah Chang,Chang,True,True
6398,6398,America,Sam,Sam Choy,Choy,True,True
6538,6538,America,Kui,Kui Lee,Lee,True,True
8801,8801,America,Ang,Ang Lee,Lee,True,True
14972,14972,America,An,An Wang,Wang,True,True

In [184]:
AC_2 = len(name_total[name_total["country"] == "China"])
ANC_2 = len(name_total[name_total["country"] != "China"])

In [185]:
PNC_AC_2 = len(df_11)
PC_ANC_2 = len(df_22)

In [186]:
PNC_ANC_2 = ANC_2-len(df_22)
PC_AC_2 = AC_2-len(df_11)

# confusion matrix 2

In [187]:
confusion_matrix_2 = {"Predicted China":[PC_AC_2,PC_ANC_2],
                    "Predicted Not-China":[PNC_AC_2,PNC_ANC_2]}
confusion_matrix_2 = pd.DataFrame(confusion_matrix)
confusion_matrix_2.index = ["Actual China", "Actual Not China"]
confusion_matrix_2.head()

                  Predicted China  Predicted Not-China
Actual China                 3325                  439
Actual Not China              581                29312

# Accuracy 2

In [188]:
accuracy_2 = 1-((len(df_11) + len (df_22))/len(name_total))
print(accuracy_2)

0.9924532786641709